*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: inherit;
    background-color: #000000;
}
#wrapper{
    width: 60%;
    margin:10rem auto;
    padding: 4rem 2rem;
    background-color: #5a5656;
    text-align: center;
}
h1{
    margin-bottom: 2.5rem;
    color: #ffffff;
    font-family: 'Caveat', cursive;
}
#input{
    width: 60%;
    padding:.7rem;
    border: 1px solid #3a3838;
    border-radius: 5px;
    margin-right: .6rem;

}
#inputbutton{
    padding:.7rem;
    cursor: pointer;
    border: 2px solid #3a3838;
    border-radius: 5px;
}
#inputbutton:hover,#inputbutton:active{
    background-color:rgb(195, 188, 188);
}
ul{
    list-style-type: none;
    /* width: 30%; */
}
#box{
    margin-bottom: 2rem;
}
li{
    background-color:#00000080;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem .8rem;
    text-align: left;
    border-radius: 3px;
    color: #ffffff;
    position: relative;
}
.closebutton{
    padding: .3rem;
    background-color: #00000013;
    border: none;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
}
.closebutton:hover,.closebutton:active{
    background-color: #ffffff;
    color: #000000;
}
/* Media queries */
@media screen and (max-width:1200px) and (min-width:990px){
    #wrapper{
        width: 70%;
    }
    #input{
        width: 63%;
    }
    li{
        width: 63%;
        }
}
@media screen and (max-width:989px) and (min-width:800px){
    #wrapper{
        width: 70%;
    }
    #input{
    width: 65%;
}
li{
    width: 65%;
    }
}
@media screen and (max-width:799px) and (min-width:600px){
    #wrapper{
        width: 80%;
        margin:6rem auto;
        padding:3rem 2rem;
    }
    #input{
        width: 80%;
        padding:.7rem;
        margin-bottom: .6rem;
        margin-right: 0;
    
    }
    #inputbutton{
        padding:.7rem;
        width: 80%;
    }
    li{
        width: 80%;
        }

}


@media (max-width:599px){
    #wrapper{
        width: 85%;
        margin:6rem auto;
        padding:3rem 2rem;
    }
    #input{
        width: 100%;
        padding:.7rem;
        margin-bottom: .6rem;
        margin-right: 0;
    
    }
    #inputbutton{
        padding:.7rem;
        width: 100%;
    }
    li{
    width: 100%;
    }
}
